
bin/Debug/netstandard2.0/acad.err
bin/Debug/netstandard2.0/MyCadTools.deps.json
bin/Debug/netstandard2.0/MyCadTools.dll
bin/Debug/netstandard2.0/MyCadTools.pdb
MyCadTools/
obj/Debug/AssemblyReference.cache
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/MyCadTools.AssemblyInfo.cs
obj/Debug/netstandard2.0/MyCadTools.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/MyCadTools.assets.cache
obj/Debug/netstandard2.0/MyCadTools.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/MyCadTools.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/MyCadTools.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/MyCadTools.dll
obj/Debug/netstandard2.0/MyCadTools.pdb
obj/MyCadTools.csproj.nuget.dgspec.json
obj/MyCadTools.csproj.nuget.g.props
obj/MyCadTools.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.0/MyCadTools.csproj.CopyComplete
bin/Debug/netstandard2.0/Microsoft.Office.Interop.Excel.dll
bin/Debug/netstandard2.0/office.dll
*.dwl
